body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.lista-itens {
  list-style-type: square;
  padding-left: 20px;
}



body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #7fd181;
}

header {
  background-color: #4caf4f6b;
  color: white;
  padding: 20px;
}

.logo {
  width: 200px;
  margin: 30px auto;
  display: block;
}

.botao {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  background-color: #ddd;
  padding: 10px;
  margin-top: 40px;
}



.beneficio {
  background-color: #ffffff10;
  border: 1px solid #ffffff30;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0 0 10px #ffffff20;
}

h2, h3 {
  color: #333;
}

.itens-cesta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.item {
  background-color: #ffffff10;
  border: 1px solid #ffffff30;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: 180px; /* ajuste conforme seu gosto */
  color: white;
  box-shadow: 0 0 8px #ffffff20;
  flex: 1 1 150px;
}


